@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&family=Outfit:wght@700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', system-ui, sans-serif;
  background-color: #0F1015;
  color: white;
}

h1, h2, h3 {
  font-family: 'Outfit', sans-serif;
}

::selection {
  background-color: #FF6B35;
  color: white;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1A1B26;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #FF6B35, #C92A2A);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #5F3DC4;
}